@model BestMusPortal.Services.DTO.GenreDTO

@{
    ViewData["Title"] = "Create Genre";
    Layout = "_Layout";
}

<h5 data-lang="ru">Создать Жанр</h5>
<h5 data-lang="uk" style="display: none;">Створити Жанр</h5>
<h5 data-lang="en" style="display: none;">Create Genre</h5>

<h5 data-lang="ru">Жанр</h5>
<h5 data-lang="uk" style="display: none;">Жанр</h5>
<h5 data-lang="en" style="display: none;">Genre</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" data-lang="ru">Название</label>
                <label asp-for="Name" class="control-label" data-lang="uk" style="display: none;">Назва</label>
                <label asp-for="Name" class="control-label" data-lang="en" style="display: none;">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" data-lang="ru" />
                <input type="submit" value="Створити" class="btn btn-primary" data-lang="uk" style="display: none;" />
                <input type="submit" value="Create" class="btn btn-primary" data-lang="en" style="display: none;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" data-lang="ru">Назад к списку</a>
    <a asp-action="Index" data-lang="uk" style="display: none;">Назад до списку</a>
    <a asp-action="Index" data-lang="en" style="display: none;">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function changeLanguage(lang) {
            document.querySelectorAll('[data-lang]').forEach(element => {
                element.style.display = element.getAttribute('data-lang') === lang ? 'block' : 'none';
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("languageSelect").addEventListener("change", function () {
                changeLanguage(this.value);
            });

            
            changeLanguage(document.getElementById("languageSelect").value);
        });
    </script>
}