@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="video-playback mt-4">
    <h6 data-lang="ru"><img src="/images/fire.png" alt="Новинка"> Новинка</h6>
    <h6 data-lang="uk" style="display: none;"><img src="/images/fire.png" alt="Новинка"> Новинка</h6>
    <h6 data-lang="en" style="display: none;"><img src="/images/fire.png" alt="New"> New</h6>
    <video id="videoPlayer" controls width="100%">
        <source id="videoSource" src="@ViewBag.LastSongUrl" type="video/mp4">
        Ваш браузер не поддерживает тег video.
    </video>
</div>

<script>
    function filterSongs() {
        var form = $('#songFilterForm');
        $.ajax({
            url: '@Url.Action("FilterSongs", "Songs")',
            type: 'GET',
            data: form.serialize(),
            success: function (data) {
                $('#songList').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error: " + textStatus, errorThrown);
            }
        });
    }
</script>